extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- name
        h1 Christian Fuchs

        //- title
        p.lead.text-light
          | Full Stack JavaScript Developer.

        
        .portfolio-bio
          p
            | I am passioned about to solve problems. It's about finding the most elegant way to write a line of code which fits best into a progression, I love the challenge of finding a way and discovering solutions.
 
          p 
            | My name is Christian Fuchs, I live in Austria, yeah it's NOT Australia! ^^ Currently I work for Quindoo a IT Company as a Junior Business Consultant.
            | In my spare time I am studying at Treehouse to strengthen my software developer skills. 
 
           
            | For me, it’s very exciting to create something new. Back then, when I was a 10 year old kid, it was always fascinating how PC’s and the software work.
            | But couldn't find it what is going on there. 
 
          
            | Then in my early 20's when I was doing my Matura(A-Level), with a focus on media informatics, I knew that one day I wanted to work creatively with my PC. 
            | I am convinced that my future lies in this profession. Therefore I spend the most of my freetime to get this done.  

          p 
            | When I have a day off, I really like hiking and go to the top of the beautiful mountains here, I enjoy the beautiful nature with my small family there. I like to climb aswell, especially bouldering because you always have to solve a problem there too.
            | This all really helps to recharge, from a busy live.     

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li Express
          li HTML
          li JavaScript
          li CSS Layouts
          li Object-Oriented-Programming 
          li jQuery
          li Code Review
          li Share projects with GitHub
          li Node.js
          li Work with a Termial
          li Asynchronous programming with JS
          li Debugging

        h6 Contact Info

        //- contact info
        ul
          li +43 660 7618157
          li christian.fuchs5@gmx.at

        //-URLs to the hrefs, link to social media accounts.
        a.button.expanded(target ='blank', href='https://www.linkedin.com/in/christian-fuchs-2925401a8') LinkedIn
        a.button.expanded(target ='blank', href='https://github.com/MrFox09') GitHub
        
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  